<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .main {
            text-align: center;
        }
        #name {
            margin: 10px;
            width: 50%;
            height: 30px;;
        }
        #meow {
            margin: 10px;
            width: 50%;
            height: 100px;
        }
        button {
            height: 30px;
            width: 10%; 
            background-color: green;
            color: white;
        }
    </style>
    <title>Meower</title>
</head>
<body>
    <div class="main">
        <form action="/" method="post">
            <h1>Welcome to Meower</h1>
            <input type="text" placeholder="name" id="name" name="name"> <br>
            <textarea name="meow" id="meow" cols="300" rows="10" placeholder="Inser your meow"></textarea> <br>
            <button type="submit"> Submit </button>

        </form>
    </div>

</body>
</html>